<div class="header">
  <div class="logo-area"></div>
  <div class="search-area">
    <input type="text" placeholder="Search.." class="search-input">
    <div class="submit" ><i class="fa fa-search"></i></div>
  </div>
  <div class="button btn-upload" routerLink="/create" routerLinkActive="active">Upload</div>
  <div class="account-area"><i class="icon-user fa fa-user"></i></div>
</div>
<div class="sticky-menu">
  <div class="menu-content">
    <div class="heading">
      <div class="menu-sub">
        <a></a>
      </div>
      <div class="menu-sub">
        <a></a>
      </div>
      <div class="menu-sub">
        <a></a>
      </div>
      <div class="menu-sub">
        <a></a>
      </div>
      <div class="menu-sub">
        <a></a>
      </div>
    </div>
  </div>
</div>
