<div>
<div class="search-area">
  <input type="text" placeholder="Search.." class="search-input">
  <div class="submit" ><i class="fa fa-search"></i></div>
</div>
<table class="table table-hover">
  <thead>
    <tr >
      <th>Name</th>
      <th>Author</th>
      <th>Created Date</th>
      <th>View</th>
      <th>Vote</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="project-view">
      <td>Crazy man</td>
      <td>Nguyen A</td>
      <td>12/12/2015</td>
      <td>45</td>
      <td>97</td>
      <td>this is a description this is a description this is a description this is a description</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Crazy man</td>
      <td>Nguyen A</td>
      <td>12/12/2015</td>
      <td>45</td>
      <td>97</td>
      <td>this is a description this is a description this is a description this is a description</td>
      <td>View</td>
      
    </tr>
  </tbody>
</table>
</div>